{% extends "base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src="http://code.jquery.com/jquery-2.2.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
{% endblock extrahead %}

{% block content %}
<div class="container">
  <p>TODO: AJAX fill the table based on comboboxes</p>
  <table class="table">
    <thead>
      <tr>
        <th>equipmentid</th>
        <th>branchid</th>
        <th>busid</th><th>
          equipmentname</th>
      </tr>
    </thead>
    <tbody>
      {% for row in equipment %}
      <tr>
      <td>{{ row.equipmentid }}</td>
      <td>{{ row.branchid }}</td>
      <td>{{ row.busid }}</td>
      <td>{{ row.equipmentname }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
